
@font-face{
    font-family: TooSimple;
    src: url("../fonts/Trebuchet-MS.ttf") format('truetype');
}

@viewport{
    zoom: 1.0;
    width: device-width;
    initial-scale: 1;
    min-zoom: 1.0;
    max-zoom: 1.0;
    zoom: fixed;
}

@-ms-viewport{
    zoom: 1.0;
    width: device-width;
    initial-scale: 1;
    min-zoom: 1.0;
    max-zoom: 1.0;
    zoom: fixed;
}

@-moz-viewport{
    zoom: 1.0;
    width: device-width;
    initial-scale: 1;
    min-zoom: 1.0;
    max-zoom: 1.0;
    zoom: fixed;
}

html, body{
	padding:0;
	margin:0;
	background:#5b6465;
}

html{
    height:100%;
    width:100%;
}

body{
    border: 1px solid yellow;
}

div#game{
	padding:0;
	background:#5b6465;
	width:100%;
	height:100%;
}

canvas{
	background:#5b6465;
	border: 1px solid red;
}

input{
	border:none;
	font-family: TooSimple;
	width:99.4%;
	text-align: center;
	font-size:32px;
}
