
@font-face{
    font-family: Yanone;
    src: url("../fonts/YanoneKaffeesatz-Bold.ttf") format('truetype');
}

html, body{
	padding:0;
	margin:0;
	background:#fff;
	height:100%;
	width:100%;
	background:black;
}

div{
	padding:0;
	margin:0;
}

div#game{
	margin-left:auto;
	margin-right:auto;
	outline:1px solid green;
}

p{
	color:#bbb;
	position:fixed;
	top:2px;
	right:3px;
	font-size: 25px;
	font-family: Yanone;
	padding:0;
	margin:0;
}
