
@font-face{
    font-family: TooSimple;
    src: url("../fonts/OpenSans-CondLight.ttf") format('truetype');
}

html, body{
	padding:0;
	margin:0;
	background:#fff;
	height:100%;
	width:100%;
	background:black;
}

div{
	padding:0;
	margin:0;
}

div#game{
	margin-left:auto;
	margin-right:auto;
	outline:1px solid #333;
	width:100%;
	height:100%;
}

p{
	color:#bbb;
	position:fixed;
	top:2px;
	right:3px;
	font-size: 18px;
	font-family: TooSimple;
	padding:0;
	margin:0;
}
