
div.img_container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:10000;
}

div.img_container img.img_download{
    width:700px;
    position: relative;
    left:9px;
    top:5px;
    max-height:420px;
}

div.img_container div.img_panel{
    height:541px;
    width:720px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-270px;
    margin-left:-360px;
    border:none;
    background-image:url('../images/popups/panel.png');
}

div.img_container div.img_panel_top{
    height:40px;
    position: relative;
    left:6px;
    top:3px;
}

div.img_container div.img_panel_top span{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}

div.img_container div.img_bg{
    background: #666;
    opacity:0.9;
    width:100%;
    height:100%;
}

div.img_container div.img_close{
    background-image: url(../images/buttons/close.png);
    width:50px;
    height:50px;
    position: absolute;
    top: -3px;
    right: -1px;
    cursor:pointer;
}

div.img_container div.img_mouse{
    background-image:url(../images/popups/mouse.png);
    width:333px;
    height:50px;
    position: absolute;
    background-size: 333px 50px;
    background-repeat: no-repeat;
    top:480px;
    left:200px;
}
