
html, body{
    padding:0;
    margin:0;
    font-family:TooSimple;
    overflow: hidden;
}

html{
    height:100%;
    width:100%;
    background-color:#ffffff;
    background-image:url(../images/bg/bg.png);
}

div#game{
    padding:0;
    background:#ffffff;
    width:100%;
    height:100%;
}

div#game canvas{
    background:#ffffff;
}
